body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 8%;
    margin-bottom: 50px;
    text-align: center;
    background-color: #246b7e;
    color: #eeeeef; /* Set text color to white */
    padding: 7px 120px 7px 120px;
    font-size: 20px;
  }
  

h2 {
    margin-top: 25px;
    margin-left: 0px;
    text-align: left;
    color: #333;
    font-size: 20px;
}

h3 {
    margin-left: 30px;
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
    font-size: 20px;
}

h4{
    color: #eeeeef;
}

p{
    font-size: 14px;
}
.container{
    margin-top: 30px;
    margin-right: 20px;
}

.section {
    margin-bottom: 30px;
}

.section2 {
width: 80%;
padding: 20px;
padding-top: 25px;
padding-bottom: 25px;
background-color: #e4e4e4;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
margin: 30px auto; /* Centers the div horizontally */
}



/* Carry-on Baggage Box Style */
.baggage-modify-box {
width: 90%;
padding: 20px;
background-color: #f9f9f9;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: background-color 0.3s ease;
margin: 0 auto; /* Centers the element horizontally */
}

.carry-on-box {
    width: 30%;
    padding: 20px;
    margin-left: 14%;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carry-on-box:hover {
    background-color: #e0e0e0;
}

.carry-on-box .weight-limit {
    font-size: 16px;
    font-weight: bold;
}

.carry-on-box .price {
    margin-top: 10px;
    font-size: 14px;
    color: #246b7e;
}

.carry-on-box.selected {
    background-color: #0a8591;
}

.carry-on-box.selected .price {
    color: #eeeeef;
}

/* Style for the information icon */
.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color:  #333;
    font-size: 16px;
}

/* Style for the tooltip content */
.info-tooltip {
    visibility: hidden;
    width: 300px;
    background-color: #a19d9ea8;
    color: #333;
    text-align: left;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: -150%; 
    left: 130%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
}


/* Show the tooltip when hovering over the info icon */
.info-icon:hover .info-tooltip {
    visibility: visible;
    opacity: 1;
}

/* Baggage Box Style */
.baggage-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.baggage-box {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.baggage-box:hover {
    background-color: #e0e0e0;
}

.baggage-box h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.baggage-box .price {
    margin-top: 10px;
    font-size: 14px;
    color: #246b7e;
}

.baggage-box.selected {
    background-color: #0a8591;
    color: #eeeeef;
}

.baggage-box.selected .price {
    color: #eeeeef;
}

/* Meal Option Style */
.meal-option-box {
    width: 90%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 0 auto;
}


.meal-options {
    display: flex;
    flex-direction: column;
}

.meal-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal-option:hover {
    transition: transform 0.5s ease;
    border: 3px solid #0a8591;
}

.icon-notes{
    justify-content: end;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    gap: 5px;
}

.meal-selection {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.meal-option img {
    width: 130px;
    height: 130px;
    margin-left: 6%;
    object-fit: cover;
    border-radius: 8px;
}

.meal-description {
    flex: 1;
    margin-left: 20px;
}

.meal-description h3 {
    font-size: 16px;
    color: #333;
    font-weight: 800;
    margin-left: 0px;
}
.meal-description h4 {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 3px;
}

.meal-description p {
    color: #666;
    margin: 0;
}

.meal-details{
    margin-right: 6%;
}
.meal-price {
    font-size: 16px;
    color: #333;
    text-align: right;
    margin-bottom: 10px;
}


/* Special Assistance Box Style */
.special-request-box {
    width: 90%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    margin: 0 auto;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1.5px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    background-position: right 10px center;
}

select:focus {
    border-color: #38a71a;
    outline: none;
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}
.custom-dropdown-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.custom-dropdown-content a {
    color: black;
    padding: 7px 20px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    display: block;
}
.custom-dropdown-content a:hover {
    background-color: #a9bbc7; /* Tailwind's green-600 color */
    color: white;
}
.dropbtn {
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}


/*Request Button Style */
#Button {
    width: 23%;
    padding: 12px;
    background-color: #698b8b;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s ease; 
  }
  
  #Button:hover {
    background-color: #526d6f; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
  }

/* Proceed Button Style */
.proceed {
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 9%;
    margin-bottom: 0;
  }
  
  .proceed button {
    padding: 12px 20px;
    background: transparent; /* Ensures no background */
    color: #333;
    border: none; /* Optional: Add a border to style the button */
    font-size: 25px;
    cursor: pointer;
    display: flex; /* Flexbox ensures proper alignment */
    align-items: center; /* Align items vertically */
    gap: 8px; /* Space between text and the icon */
    transition: color 0.2s ease;
  }
  
  .proceed button:hover {
    color: #246b7e;
  }
  
  .proceed button:hover .next-icon {
    filter: invert(30%) sepia(50%) saturate(500%) hue-rotate(150deg) brightness(90%) contrast(100%);
    transition: filter 0.3s ease;
  }  
  

  .indexButton-container {
    display: flex;
    justify-content: flex-end; 
  }
  

.info-image {
    max-width: 20px;
    height: 20px; 
    margin-left: 2px;
}

.image-icon {
    float: left; 
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: contain;
  }
    
  .meal-header {
    display: flex; 
    align-items: center; 
    gap: 8px; 
  }
  
  .type-icon {
    width: 20px !important;
    height: 20px !important;
    margin-left: 0 !important;
    object-fit: contain;
  }
  
  .kids-icon {
    width: 25px !important;
    height: 25px !important;
    margin-left: 0 !important;
    object-fit: contain;
  }

  .next-icon {
    width: 20px; /* Set reasonable icon size */
    height: 20px;
    object-fit: contain;
  }

   /* Force the size with important to override conflicts */
   .checked-icon { 
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease;
    width: 30px !important; /* Enforced size */
    height: 30px !important; /* Enforced size */
  }

  /* Adjust when clicked */
  .checked-icon.selected {
    opacity: 1;
    transition: 0.2s ease;
    width: 50px !important; 
    height: 50px !important; 
  }



 

