<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Add-Ons</title>
            <link rel="stylesheet" href="{{ url_for('static', filename='css/baseDnR.css') }}">
            <script src="{{ url_for('static', filename='js/baseDnR.js') }}" defer></script>
        </head>


    <body>
        <div class="container">
            {% block content %}
            
            {% endblock %}

                    <!-- Baggage Section -->
                    <div class="section">
                        <img src="{{ url_for('static', filename='images/suitcase.png') }}" alt="Baggage Icon" class="image-icon">
                        <h2>Baggage</h2>

                        <div class="section2">
                            <div id="baggageModifyBox" class="baggage-modify-box">

                                <div class="indexButton-container">
                                    <button id="Button" onclick="toggleBaggageModification()">Modify</button>
                                </div>

                                <div id="baggageSection" style="display:none;">

                                        <p>
                                            <strong>Carry-on Baggage: </strong>
                                            <span class="info-icon">
                                            <img src="{{ url_for('static', filename='images/info.png') }}" alt="Info Icon" class="info-image">
                                            <span class="info-tooltip"> Every customer who purchases a flight ticket gets a free 7kg handcarry baggage allowance.<br><br> t&c: <br> • Size limit:<br> 22 x 14 x 9 inches (56 x 36 x 23 cm)</span>
                                        </p>

                                        <!-- Carry-on Baggage Box -->
                                        <div class="carry-on-box" onclick="selectBaggage(this, 'Carry-on', 0)">
                                            <div class="weight-limit">7kg</div>
                                            <div class="price">MYR 0.00</div>
                                        </div>

                                        <p>
                                            <strong>Checked Baggage: </strong>
                                            <span class="info-icon">
                                              <img src="{{ url_for('static', filename='images/info.png') }}" alt="Info Icon" class="info-image">
                                              <span class="info-tooltip"> t&c:<br> • Weight limit: 32kg each <br> • Size limit: 40 x 30 x 50 inches (102 x 76 x 127 cm)</span>
                                            </span>
                                          </p>
                                          
                                          

                                        <div class="baggage-options">
                                            <!-- Baggage Box 1 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, '10kg', 30)">
                                                <h4>10kg</h4>
                                                <div class="price">MYR 30.00</div>
                                            </div>

                                            <!-- Baggage Box 2 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, '20kg', 50)">
                                                <h4>20kg</h4>
                                                <div class="price">MYR 50.00</div>
                                            </div>

                                            <!-- Baggage Box 3 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, '30kg', 70)">
                                                <h4>30kg</h4>
                                                <div class="price">MYR 70.00</div>
                                            </div>

                                            <!-- Baggage Box 4 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, '40kg', 90)">
                                                <h4>40kg</h4>
                                                <div class="price">MYR 90.00</div>
                                            </div>

                                            <!-- Baggage Box 5 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, '50kg', 110)">
                                                <h4>50kg</h4>
                                                <div class="price">MYR 110.00</div>
                                            </div>

                                            <!-- Baggage Box 6 -->
                                            <div class="baggage-box" onclick="selectBaggage(this, 'None', 0)">
                                                <h4>None</h4>
                                                <div class="price">MYR 0.00</div>
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Meals Section -->
                    <div class="section">
                        <img src="{{ url_for('static', filename='images/meal.png') }}" alt="Meals Icon" class="image-icon">
                        <h2>Meals</h2>

                        <div class="section2">
                            <div class="meal-options">
                                <div id="mealOptionBox" class="meal-option-box">

                                    <div class="indexButton-container">
                                        <button id="Button" onclick="toggleMealOption()">Select</button>
                                    </div>

                                    <!-- Meal 1 -->
                                    <div id="mealSection" style="display:none;">
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set1.jpeg') }}" alt="Set 1">
                                            <div class="meal-description">
                                                <h3>Set 1</h3>
                                                <div class="meal-header">
                                                    <h4>Nasi Lemak</h4>
                                                    <img src="{{ url_for('static', filename='images/chilli-pepper.png') }}" alt="Type Icon" class="type-icon">
                                                </div>
                                                <p>Coconut rice with sambal, egg, anchovies, and peanuts.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 10
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                        onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 2 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set2.jpg') }}" alt="Set 2">
                                            <div class="meal-description">
                                                <h3>Set 2</h3>
                                                <div class="meal-header">
                                                    <h4>Fried Rice</h4>
                                                    <img src="{{ url_for('static', filename='images/vegan.png') }}" alt="Type Icon" class="type-icon">
                                                </div>
                                                <p>Stir-fried rice with vegetables.
                                                </p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 13
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 3 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set3.jpg') }}" alt="Set 3">
                                            <div class="meal-description">
                                                <h3>Set 3</h3>
                                                    <h4>Wonton Noodles</h4>
                                                <p>Noodles with dumplings in soup or sauce.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 13
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 4 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set4.jpg') }}" alt="Set 4">
                                            <div class="meal-description">
                                                <h3>Set 4</h3>
                                                    <h4>Sweet and Sour Chicken</h4>
                                                <p>Crispy chicken in a tangy,sweet sauce.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 15
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 5 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set5.jpg') }}" alt="Set 5">
                                            <div class="meal-description">
                                                <h3>Set 5</h3>
                                                <div class="meal-header">
                                                    <h4>Butter Chicken</h4>
                                                    <img src="{{ url_for('static', filename='images/chilli-pepper.png') }}" alt="Type Icon" class="type-icon">
                                                </div>
                                                <p>Creamy chicken curry.
                                                </p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 15
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 6 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set6.jpg') }}" alt="Set 6">
                                            <div class="meal-description">
                                                <h3>Set 6</h3>
                                                <div class="meal-header">
                                                    <h4>Biryani Rice</h4>
                                                    <img src="{{ url_for('static', filename='images/chilli-pepper.png') }}" alt="Type Icon" class="type-icon">
                                                    <img src="{{ url_for('static', filename='images/vegan.png') }}"alt="Type Icon" class="type-icon">
                                                </div>
                                                <p>Spiced, flavorful rice.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 15
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)" />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 7 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set7.jpg') }}" alt="Set 7">
                                            <div class="meal-description">
                                                <h3>Set 7</h3>
                                                    <h4>Carbonara</h4>
                                                <p>Creamy pasta with cheese and meat.
                                                </p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 18
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Meal 8 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set8.jpg') }}" alt="Set 8">
                                            <div class="meal-description">
                                                <h3>Set 8</h3>
                                                    <h4>Grilled Chicken</h4>
                                                <p>Juicy grilled chicken with smashed potatoes aside.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 18
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                            <!-- Meal 9 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set9.jpeg') }}" alt="Set 9">
                                            <div class="meal-description">
                                                <h3>Set 9</h3>
                                                <div class="meal-header">
                                                    <h4>The Little Feast Combo</h4>
                                                    <img src="{{ url_for('static', filename='images/children.png') }}" alt="Kids Icon" class="kids-icon">
                                                </div>
                                                <p>Nuggets, sausage, bolognese, and Vitagen.</p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 9
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- Meal 10 -->
                                        <div class="meal-option">
                                            <img src="{{ url_for('static', filename='images/set10.jpg') }}" alt="Set 10">
                                            <div class="meal-description">
                                                <h3>Set 10</h3>
                                                <div class="meal-header">
                                                    <h4>Fishy Friends Meal</h4>
                                                    <img src="{{ url_for('static', filename='images/children.png') }}" alt="Kids Icon" class="kids-icon">
                                                </div>
                                                <p>Fish fingers, mashed potato, fried rice, and Vitagen.  
                                                </p>
                                            </div>
                                            <div class="meal-details">
                                                <div class="meal-price">
                                                    MYR 9
                                                </div>
                                                <div class="meal-selection">
                                                    <img src="{{ url_for('static', filename='images/add-cart.png') }}" alt="Add to Cart" class="addcart-icon"
                                                      onclick="toggleCartSelection(this)"/>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="icon-notes">
                                            <img src="{{ url_for('static', filename='images/chilli-pepper.png') }}" alt="Spicy Icon" class="type-icon"> spicy
                                            <img src="{{ url_for('static', filename='images/vegan.png') }}" alt="Vegan Icon" class="type-icon"> vegan
                                            <img src="{{ url_for('static', filename='images/children.png') }}" alt="Kids Icon" class="kids-icon"> kids meal
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <img src="{{ url_for('static', filename='images/kindness.png') }}" alt="SpeacialAsisstance Icon" class="image-icon">
                        <h2>Special Assistance</h2>
                        <!-- Special Assistance Box --> 
                        <div class="section2">
                            <div id="specialRequestBox" class="special-request-box">
                                <!-- Request Button -->
                                <div class="indexButton-container">
                                    <button id="Button" onclick="toggleSpecialAssistance()">Request</button>
                                </div>
                        
                                <!-- Wheelchair Assistance Section (Initially Hidden) -->
                                <div id="wheelchairSection" style="display:none;">
                                    <label for="wheelchair"><strong>Wheelchair Assistance:</strong>
                                        <span class="info-icon">
                                            <img src="{{ url_for('static', filename='images/info.png') }}" alt="Info Icon" class="info-image">
                                            <!-- Tooltip Text -->
                                            <span class="info-tooltip"> • Wheelchair assistance helps passengers with mobility challenges get to the gate, board, and exit the plane.</span>
                                        </span>
                                    </label>
                                    <select id="wheelchair" name="wheelchair">
                                        <option value="none">--- None ---</option>
                                        <option value="own">Own wheelchair (MYR 0.00)</option>
                                        <option value="need">Need wheelchair (MYR 50.00)</option>
                                    </select>
                                </div>
                        
                                <!-- Unaccompanied Minor Service Section (Initially Hidden) -->
                                <div id="umnrSection" style="display:none;">
                                    <label for="umnr"><strong>UMNR (Unaccompanied Minor Non-Refundable):</strong>
                                        <span class="info-icon">
                                            <img src="{{ url_for('static', filename='images/info.png') }}" alt="Info Icon" class="info-image">
                                            <!-- Tooltip Text -->
                                            <span class="info-tooltip"> • UMNR is a service for junior citizens traveling alone, ensuring they are cared for during the flight. <br><br> t&c: <br> The ticket is non-refundable and includes extra support like priority boarding and assistance during transfers.</span>
                                        </span>
                                    </label>
                                    <select id="umnr" name="umnr">
                                        <option value="none">--- None ---</option>
                                        <option value="senior">Children (MYR 55.00)</option>
                                        <option value="junior">Teenager (MYR 65.00)</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Submit Button -->
                    <div class="section">
                        <div class="proceed">
                          <form action="/submit" method="POST">
                            <button type="submit">
                              <strong>Continue</strong>
                              <img src="{{ url_for('static', filename='images/next.png') }}" alt="Next Icon" class="next-icon">
                            </button>
                          </form>
                        </div>
                      </div>
                      
            
        </div>
    </body>

</html>
